.section {
  padding: 25px 15px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label {
  position: absolute;
  left: 30px;
  font-style: italic;
  color: blanchedalmond;
  transition: all 0.3s linear;
}
.label:not(:last-child) {
  margin-bottom: 20px;
}
.input {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  border-bottom: salmon 1px solid;
  width: 200px;
  outline: none;
  color: #ffffff;
  padding-left: 25px;
  padding-bottom: 10px;
  color: blanchedalmond;
  font-size: 16px;
  font-style: italic;
}
.input::placeholder {
  color: blanchedalmond;
  padding-left: 1px;
  transition: all 0.3s linear;
}

.input:focus.input::placeholder {
  padding-left: 330px;
}
.labelRight {
  left: 330px;
  position: absolute;
  font-style: italic;
  color: blanchedalmond;
  transition: all 0.3s linear;
}

.inputWrapper {
  position: relative;
}
.inputWrapper:not(:last-child) {
  margin-bottom: 40px;
}
.button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: rgb(255, 176, 60);
  background: linear-gradient(
    180deg,
    rgba(255, 176, 60, 1) 39%,
    rgba(250, 128, 114, 1) 100%
  );
  font-size: 20px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .input {
    width: 500px;
  }
}
